/*index.html*/
.container_index{
	display: flex;
}

.contenido_index{
	flex: 1;
	text-align: center;
	padding: 20px;
}

.logo{
	height: 200px;
	width: auto;
}

.imagen_inicio{
	width: 500px;
	height: 600px;
}

.estado{
	background-color: #f96815
}

.lateral_index{
	background-color: #82c8e5;
	text-align: center;
	padding: 10px;
}

.footer{
	text-align: center;
}